# API Gateway
fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.9

# Pipeline Manager (The Factory)
celery>=5.4.0
redis>=5.0.8

# Video processing engines (Still needed locally to slice and crop frames)
ffmpeg-python==0.2.0
opencv-python-headless==4.10.0.84

# Network wrappers
requests==2.32.3

# Utils
pydantic-settings==2.5.2
python-dotenv==1.0.1
